# Ignore the virtual environment folder
venv/

# Ignore the generated plates folder
generated_plates/

# Ignore the formatted CSV file
Formatted_kentekens.csv

# Ignore everything inside the Output folder
Output/*


